<!DOCTYPE html>
<html>
<head>
    <title>List</title>
</head>
<body>
    <table>
        <caption><h2>User Story Manager - List of User Stories</h2></caption>
        <thead>
          <th>Story Title</th>
          <th>User Story</th>
          <th>Acceptance Criteria</th>
          <th>Business Value</th>
          <th>Estimation</th>
          <th>Status</th>
          <th>Update</th>
          <th>Del</th>
        </thead>

        <tr>
            {% for sprint in sprints %}
            <tr>
                <td>{{ sprint.title}}</td>
                <td>{{ sprint.user_story}}</td>
                <td>{{ sprint.acceptance_criteria}}</td>
                <td>{{ sprint.business_value}}</td>
                <td>{{ sprint.estimation}}</td>
                <td>{{ sprint.status}}</td>
                <td>
                    <form action="{{ url_for('delete_sprint')}}" method='post'>
                        <input type="hidden" name="sprint_id" value="{{ sprint.sprint_id }}">
                        <input type='submit' value='delete'>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('update_sprint', sprintname=sprint.sprint_id)}}" method='post'>
                        <input type="hidden" name="sprint_id" value="{{ sprint.sprint_id }}">
                        <input type='submit' value='update'>
                    </form>
                </td>
            <tr>
                {% endfor %}
    </table>
    <form action="{{ url_for('new_sprint')}}" method='get'>
        <input type='submit' value='Back to create a new story'>
    </form>

</body>
</html>
