<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>List</title>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/new_sprint">HOME</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/list">List</a></li>
            <li><a href="/new_sprint">Make a new story</a></li>
            <li class="dropdown">
            </li>
          </ul>
        </div>
      </div>
    </nav>

</head>
<body>
    <table>
        <div class="table">
        <caption><h2>User Story Manager - List of User Stories</h2></caption>
        <thead>
          <th>Story Title</th>
          <th>User Story</th>
          <th>Acceptance Criteria</th>
          <th>Value</th>
          <th>Estimation</th>
          <th>Status</th>
          <th>Update</th>
          <th>Del</th>
        </thead>

        <tr>
            {% for sprint in sprints %}
            <tr>
                <td>{{ sprint.title}}</td>
                <td>{{ sprint.user_story}}</td>
                <td>{{ sprint.acceptance_criteria}}</td>
                <td>{{ sprint.business_value}}</td>
                <td>{{ sprint.estimation}}</td>
                <td>{{ sprint.status}}</td>
                <td>
                    <form action="{{ url_for('delete_sprint')}}" method='post'>
                        <input type="hidden" name="sprint_id" value="{{ sprint.sprint_id }}">
                        <input type='submit' value='delete'>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('update_sprint', sprintname=sprint.sprint_id)}}" method='post'>
                        <input type="hidden" name="sprint_id" value="{{ sprint.sprint_id }}">
                        <input type='submit' value='update'>
                    </form>
                </td>
            <tr>
                {% endfor %}
    </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <div class="footer">Patrik gyakorolja CSS Kft.</div>

</body>
</html>
